.gameTitleTab{
    height:10%; 
    width:100%;
    text-align:center;
    font-weight:bold;
    font-family: "Lucida Console, Monaco, monospace";
}
  
.centerScreen{
    margin: 0;
    position: relative;
    top: 50%; left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.moveHistory{
    height:80%; 
    overflow-y:scroll; 
    padding-left: 10px;
}
  
.moveHistoryLabel{
    height:10%;
    text-align:center;
    font-weight: bold;
}

.mycontent-left {
    border-right: 1px dashed #333;
}

.cardTable {
    position: relative;
    left: 0px;
    top:0px;
    height:70%;
    min-height: 400px;
    width:100%;
    border:2px solid #000000;
    background-color: #35654d;
}

.cardRow {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 50px;
    align-items: center;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    max-width:230px;
    max-height:150px;
    width: auto;
    height: auto;    
    display: block;
}​

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: auto;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height:450px;
    max-height: 500px;
    overflow-y: scroll;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
